# Compiled files
*.o
*.a
*.la
*.so
*.d
*.bin
*.elf
*.hex

# Arduino IDE / Build output
build/
out/
*~
*.bak

# Editor / IDE configuration directories
.vscode/
.vs/
.idea/
*.suo
*.user
*.userossc
*.sln
*.vcproj
*.vcxproj
*.filters

# OS metadata
.DS_Store
Thumbs.db
